In [86]:
# Load required packages
library(plyr)
library(tidyverse)
library(infer)
library(janitor)
library(repr)
library(stringr)
library(waffle)
library(ggthemes)

In [87]:
# Reading the dataset
url <- "https://raw.githubusercontent.com/kashish1928/STAT201_Group_03/main/data/berkeley.csv"
admission_data <- read.csv(url)

head(admission_data)

  Year Major Gender Admission
1 1973 C     F      Rejected
2 1973 B     M      Accepted
3 1973 Other F      Accepted
4 1973 Other M      Accepted
5 1973 Other M      Rejected
6 1973 Other M      Rejected

In [88]:
new_col_names <- c("year", "major", "gender", "admission")
admission_data <- rename(admission_data, !!!setNames(names(admission_data), new_col_names))

head(admission_data)

  year major gender admission
1 1973 C     F      Rejected
2 1973 B     M      Accepted
3 1973 Other F      Accepted
4 1973 Other M      Accepted
5 1973 Other M      Rejected
6 1973 Other M      Rejected

In [89]:
# Number of Rows and Columns

total_rows <- admission_data |> nrow()
print(sprintf("There are %d rows in the data frame", total_rows))

total_cols <- admission_data |> ncol()
print(sprintf("There are %d columns in the data frame", total_cols))

[1] "There are 12763 rows in the data frame"
[1] "There are 4 columns in the data frame"

In [90]:
str(admission_data)

'data.frame':	12763 obs. of  4 variables:
 $ year     : int  1973 1973 1973 1973 1973 1973 1973 1973 1973 1973 ...
 $ major    : chr  "C" "B" "Other" "Other" ...
 $ gender   : chr  "F" "M" "F" "M" ...
 $ admission: chr  "Rejected" "Accepted" "Accepted" "Accepted" ...

In [91]:
# Remove NA values (if any)

admission_data_function <- function(cols) {
  for (i in cols) {
    admission_data <- admission_data |>
          filter(!is.na(i))
  }
  return(admission_data)
}

column_names <- colnames(admission_data)

admission_data <- admission_data_function(column_names)

head(admission_data)

  year major gender admission
1 1973 C     F      Rejected
2 1973 B     M      Accepted
3 1973 Other F      Accepted
4 1973 Other M      Accepted
5 1973 Other M      Rejected
6 1973 Other M      Rejected

In [92]:
# Display all the different levels

print(unique(admission_data$year))
print(unique(admission_data$major))
print(unique(admission_data$gender))
print(unique(admission_data$admission))

[1] 1973
[1] "C"     "B"     "Other" "F"     "A"     "D"     "E"
[1] "F" "M"
[1] "Rejected" "Accepted"

In [93]:
# Remove unnecessary columns

admission_data_updated <- admission_data[, -1]
head(admission_data_updated)

  major gender admission
1 C     F      Rejected
2 B     M      Accepted
3 Other F      Accepted
4 Other M      Accepted
5 Other M      Rejected
6 Other M      Rejected